<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>

      <div class="container">
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email"
                    name="email"
                    id="email"
                    value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password"
                    name="password"
                    id="password"
                    value="<%= oldInput.password %>">
            </div>
        <div class="text-center">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn" type="submit">Login</button>
        </div>
        </form>
        <div class="text-center" style="margin-top: 25px;">
            <p>Dont't have an account yet?</p>
            <p><a href="/signup">Register</a></p>
            <p>Forgot your password?</p>
            <p><a href="/reset">Reset Password</a></p>
        </div>
      </div>

    </main>
<%- include('../includes/end.ejs') %>
