<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/admin-nav.ejs') %>

    <main>
        <h1 class="under-left"><%= pageTitle %></h1>

        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <input
                    placeholder="Title"
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text"
                    name="title"
                    id="title"
                    value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="collection">Collection</label>
                <select
                    class="<%= validationErrors.find(e => e.param === 'collection') ? 'invalid' : '' %>"
                    type="text"
                    name="collection"
                    id="collection"
                >
                    <% collections.forEach( collection => { %>
                        <% if (collection._id == '5d9401dadd19da97d06306c6') { %>
                        <% } else {%>
                            <option

                            <% if (editing || hasError) { %>
                                <% if (product.collectionId) { %>
                                    <% if (product.collectionId.toString() == collection._id.toString()) { %>
                                        selected="selected"
                                    <% } %>
                                <% } %>
                            <% } %>
                                value="<%= collection._id %>"
                            ><%= collection.title %></option>
                        <% } %>
                    <% }); %>
                </select>
            </div>
            <div class="form-control image-selector">
                <label for="image">Image</label>
                <div class="d-flex">
                    <% if (editing || hasError && product.imageUrl) { %>
                        <img src="/<%= product.imageUrl.replace('\\', '/') %>" alt="<%= product.title %>">
                    <% } %>
                    <input
                        type="file"
                        name="image"
                        id="image" >
                </div>
            </div>
            <div class="form-control">
                <input
                    placeholder="Price"
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number"
                    name="price"
                    id="price"
                    step="0.01"
                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <textarea
                    placeholder="Description"
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description"
                    id="description"
                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
