<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/admin-nav.ejs') %>

            <main class="admin-products">
                <h1 class="under-center text-center">Products</h1>
                <% if (prods.length > 0) { %>
                    <a href="/admin/add-product" class="btn admin-top-btn">Add Product</a>
                    <div class="list products">
                        <% for (let product of prods) { %>
                                <div class="item product-item">
                                        <div class="item_image">
                                            <a href="/admin/edit-product/<%= product._id %>?edit=true">
                                                <img src="/<%= product.imageUrl.replace('\\', '/') %>" alt="<%= product.title %>">
                                            </a>
                                        </div>
                                        <div class="item_header">
                                            <h2 class="product_title">
                                                <a href="/admin/edit-product/<%= product._id %>?edit=true">
                                                    <%= product.title %>
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="item_content">
                                            <strong class="product_price">
                                                $<%= product.price %>
                                            </strong>
                                        </div>
                                    <div class="actions">

                                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn sm-btn" >Edit</a>
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn sm-btn" type="button" onclick="deleteProduct(this)">Delete</button>
                                    </div>
                                </div>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h2>No Products Found!</h2>

                        <a href="/admin/add-product" class="btn">Add Product</a>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/admin.js"></script>
