<%- include('../includes/head.ejs') %>
<script src="/js/cart.js"></script>
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <h1 class="under-center text-center">Cart</h1>
            <% if (products.length > 0) { %>
                <ul id="cart" class="cart__item-list" csrf="<%= csrfToken %>">
                    <% products.forEach(p => { %>
                        <li class="cart__item item" productId="<%= p.productId._id %>" csrf="<%= csrfToken %>">
                            <a class="cart_item_link" href="/product/<%= p.productId.handle %>">
                              <img src="/<%= p.productId.imageUrl %>" alt="<%= p.productId.title %>">
                              <h2><%= p.productId.title %></h2>
                            </a>
                            <input class="cart-qty-input" type="number" name="quantity" min="1" value="<%= p.quantity %>">

                            <p class="line_item_price">$<%= p.quantity * p.productId.price %></p>

                            <div class="cart-delete-item">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button onclick="deleteCartItem(this)" class="btn sm-btn cart_item_delete" type="submit">Delete</button>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <div class="total-wrapper">
                  <h2>Total: $<%= totalSum %></h2>
                </div>
                <div class="cart-actions">
                    <button class="btn" type="button" onclick="updateCart()">Update Cart</button>
                    <button id="order-btn" class="btn">Checkout</button>
                </div>

            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>


        <script src="https://js.stripe.com/v3/"></script>
        <script>
          var stripe = Stripe('pk_test_ubccs0CwBsazikz978SXkQmD00fQzKn1xh');
          var orderBtn = document.getElementById('order-btn');
          orderBtn.addEventListener('click', function() {
              stripe.redirectToCheckout({
                  sessionId: '<%= sessionId %>'
                  }).then(function (result) {
              });
          });
        </script>

        <%- include('../includes/end.ejs') %>
