<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
  <% if (orders.length <= 0) { %>
      <h1>Nothing there!</h1>
  <% } else { %>
    <ul class="orders">
      <% orders.forEach(order => { %>
        <li class="orders__item">
          <h2>Order - # <%= order._id %> <a class="btn sm-btn" href="/orders/<%= order._id %>">Invoice</a></h2>
          <ul class="orders__products">
            <% order.products.forEach(p => { %>
              <li class="orders__products-item item">
                <img src="/<%= p.product.imageUrl %>" alt="<%= p.product.title %>">
                <%= p.product.title %> (<%= p.quantity %>) - $<%= p.quantity * p.product.price %></li>
            <% }); %>
          </ul>
          <br>
          <h2>Total: $<%= order.total %></h2>
        </li>
      <% }); %>
    </ul>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
